div#main-game {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-content{
    color: white;
    font-family: monaco;
    font-size: 0.7em;
    height: 50%;
    align-items: flex-start;
}

#message-content {
    display: flex;
    height: 15%;
}

#empty-message-div {
    width: 18%;
}

#octocat-content {
    display: flex;
    margin-top: 3em;
}

#empty-octocat-div {
    color: white;
    width: 75%;
}

#octocat {
}